*{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin:0;
    padding: 0;
}
body {
    width: 100%;
}
.container{
    max-width: 1290px;  
    padding: 0 15px;
    margin: 0 auto;
}
/* Шапка */
.header{
    width:100%;
    color: white;
    padding: 40px 20px;
    background: #1b3764;
	box-sizing: border-box;
}
.menu{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.submenu {
    background: white;
    border: 2px solid #003559;
    position: absolute;
    left: 0;
    visibility: hidden;
    opacity: 0;
    z-index: 5;
    width: 120px;
    transform: perspective(600px) rotateX(-90deg); 
    transform-origin: 0% 0%;
    transition: .6s ease-in-out; 
}
.menu > li:hover .submenu{
    visibility: visible;
    opacity: 1;
    transform: perspective(600px) rotateX(0deg);
}
.submenu li a {
    color: #1b3764;
    font-size: 13px;
    line-height: 36px;
}
.submenu li::after{
    content: "";
    height: 3px;
    width: 0;
    background-color:  #1b3764;
    transition: .5s ease-in-out;
}
.submenu li:hover::after{
    width: 40%;
}
.header_row{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.header_logo{
    display: flex;
    flex-direction: row;   
    align-items: center;
    flex-grow: 1;
}
.logo_img{
    margin-right: 10px;
}
.header_menu{
    flex-grow: 3;
}
.menu_item, .menu_item_down{
    list-style: none;
    display: flex;
    flex-direction: column;
    padding-left: 20px;
    position: relative;
}
.menu_link{
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
}
.menu_item::after{
    content: "";
    height: 3px;
    width: 0;
    background-color:  white;
    transition: .5s ease-in-out;
}
.menu_item:hover::after{
    width: 50%;
}
.main{
    min-height: calc(100vh - 375px);
}
/* Стиль списка */
ul.breadcrumb {
  padding: 10px 16px;
  list-style: none;
  background-color: #eee;
}
/* Отображение элементов списка бок о бок */
ul.breadcrumb li {
  display: inline;
  font-size: 18px;
}
/* Добавить символ косой черты (/) перед/за каждым элементом списка */
ul.breadcrumb li+li:before {
  padding: 8px;
  color: black;
  content: "/\00a0";
}
/* Добавить цвет для всех ссылок внутри списка */
ul.breadcrumb li a {
  color: #0275d8;
  text-decoration: none;
}

/* Добавить цвет на наведении курсора мыши */
ul.breadcrumb li a:hover {
  color: #01447e;
  text-decoration: underline;
}
/* Баннер */
.banner_sec{
    padding: 100px 0;
    background: url(../img/urbanist.jpg);
    background-size: cover;
    background-position: center;
}
.banner_title{
    font-size: 48px;
    padding-bottom: 40px;
}
.banner_title, .banner_description{
    text-align: center;
    color: white;
}
.banner_description{
    display: flex;
    justify-content: center;
    align-items: center;
}
.banner_menu{
    list-style: none;
    display: flex;
    flex-direction: column;
    padding-left: 35px;
}
.banner_link{
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
}
.banner_menu:first-of-type{
    padding-left: 0;
}
.banner_menu::after{
    content: "";
    height: 3px;
    width: 0;
    background-color:  white;
    transition: .5s ease-in-out;
}
.banner_menu:hover::after{
    width: 50%;
}
.sec_banner_photo, .sec_banner_aviator, .sec_banner_urbanist, .sec_banner_grafica{
    padding: 200px 0;
    
}
.sec_banner_photo{
    background: url(../img/photograf01.jpg);
    background-size: cover;
    background-position: center;
}
.sec_banner_aviator{
    background: url(../img/aviator02.jpg);
    background-size: cover;
    background-position: center;
}
.sec_banner_urbanist{
    background: url(../img/urbanist02.jpg);
    background-size: cover;
    background-position: center;
}
.sec_banner_grafica{
    background: url(../img/grafika.jpg);
    background-size: cover;
    background-position: center;
}
.sec_banner_botom{
    padding: 25px 0;
    background: #1b3764;
}
/* Карточки */
.cards_sec{
    padding: 50px 0px;
}
.cards_title, .cards_description{
    color: #151c39;
    text-align: center;
}
.card{
    padding: 25px;
    margin-top: 25px;
    width: 45%;
    background: white;
    box-shadow: 0px 2px 7px 0px #9e90ff;
    text-align: center;
}

.card_link{
    text-decoration: none;
    color: white;
}

.card_button{
    text-align: center;
    background: #151c39;
    padding: 10px 70px;
    border-radius: 10px;
}

.card_title, .card_text{
    margin-bottom: 10px;
}
.card_button{
    cursor: pointer;
    transition: .5s ease-in-out;
}
.card_button:hover {
    background: #1b3764;
    font-size: 102%;
}
.cards_row{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
}
.card_img, .product_img {
    width: 100%;
    height: 70%;
}
.card_img:hover {
    box-shadow: 0px 2px 7px 0px #9e90ff;
    opacity: .5;
}
.app_row{
    display: flex;
    justify-content: center;
    margin-top: 50px;
    margin-bottom: 50px;
}
/* Стили для форм регистрации, авторизации */
.reg_row{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 20px;
    margin-top: 20px;
}
.reg_form, .auto_form, .reg_error {
	width: 60%;
	margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top:10px;
    align-items: center;
}
/*Ошибки при регистрации*/
.reg_error{
    width: 100%;
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: #c0bebe;
    color: red;
    font-size: large;
    align-items: center;
    border: red solid 1px;
    border-radius: 10px;
}
/* Подвал */
.footer{
    background: #1b3764;
    background-size: cover;
    padding: 50px 0px;
}

.form_text, .copyright{
    color: white;
}

.copyright{
    margin-bottom: 30px;
}

.footer_row{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.social_networks{
    display: flex;
    justify-content: flex-end;
}

.footer_logo{
    margin: 10px;
    width: 60px;
    height: 60px;
}

.footer_form{
    display: flex;
    justify-content: space-between;
    margin-top:10px;
    align-items: center;
}

.footer_input, .reg_input, .reg_select, .reg_button, .auto_button{
    height: 40px;
    flex-grow: 3;
    margin-right: 20px;
    border-radius: 10px;
    width: 100%;
	outline: none;
	margin: 10px 5px;
	transition: .2s;
	font-size: 14pt;
	padding-left: 10px;
	border: solid 1px black;
}

.footer_button {
    height: 40px;
    flex-grow: 2;
    border-radius: 10px;
    text-transform: uppercase;
    font-weight: bold;
    width: 100%;
	outline: none;
	margin: 10px 5px;
	/*font-size: 14pt;*/
    transition: .5s ease-in-out;
}

.reg_button, .auto_button{
    color: white;
    background-color: #151c39;
    width: 100%;
    transition: .5s ease-in-out;
}
.reg_button:hover, .auto_button{
    cursor: pointer;
    color: white;
    background-color: #1b3764;
}

.footer_button:hover{
    color: white;
    background: transparent;
}

/*Страница о нас*/

.about, .contacts{
    padding: 25px;
    margin-top: 25px;
    margin-bottom: 25px;
    width: 100%;
    background: white;
    box-shadow: 0px 2px 7px 0px #9e90ff;
    text-align: center;
}

.about h1,h2{
    padding-top: 25px;
    padding-bottom: 25px;
}

.contacts h2{
    padding-top: 25px;
    padding-bottom: 25px;
}

.contacts h2{
    text-align: left;
}

.about p{
    font-size: 20px;
    padding-bottom: 20px;
    text-align: left;
}

.about_img{
    width: 70%;
}

.contacts p{
    font-size: 20px;
    padding-bottom: 20px;
    text-align: left;
}

.contacts_img{
    width: 70%;
}
/*Адаптив*/
.burger-checkbox {
    position: absolute;
    visibility: hidden;
  }
  .burger {
    cursor: pointer;
    display: block;
    position: relative;
    border: none;
    background: transparent;
    visibility: hidden;
  }
  .burger::before,
  .burger::after {
    content: '';
    left: 0;
    position: absolute;
    display: block;
    width: 100%;
    height: 4px;
    border-radius: 10px;
    background: #fff;
  }
  .burger::before {
    top: 0;
    box-shadow: 0 11px 0 #fff;
    transition: box-shadow .3s .15s, top .3s .15s, transform .3s;
  }
  .burger::after {
    bottom: 0;
    transition: bottom .3s .15s, transform .3s;
  }
  .burger-checkbox:checked + .burger::before {
    top: 11px;
    transform: rotate(45deg);
    box-shadow: 0 6px 0 rgba(0,0,0,0);
    transition: box-shadow .15s, top .3s, transform .3s .15s;
  }
  .burger-checkbox:checked + .burger::after {
    bottom: 11px;
    transform: rotate(-45deg);
    transition: bottom .3s, transform .3s .15s;
  }

@media screen and (max-width: 1120px) {
    .card{
        width: 95%;
    }
    .footer_row{
        flex-direction: column;
    }
    .footer_form{
        flex-direction: column;
    }
    .menu{
        flex-direction: column;
        align-items: end;
        visibility: hidden;
    }
    .burger{
        visibility: visible;
        width: 40px;
        height: 26px;
        margin: 30px auto;
    }
    
    .burger-checkbox:checked ~ .menu {
        visibility: visible;
      }
}
@media screen and (max-width: 600px){
    .card_text{
        visibility: hidden;
    }
    .logo_img{
        width: 70%;
    }
    .card_button{
        visibility: hidden;
    }
}
